<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
                <meta name="referrer" content="never">
		<title>
			<%= pageTitle %>
		</title>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			
			a {
				text-decoration: none;
			}
			
			.container {
				padding: 0;
				max-width: 740px;
				min-width: 320px;
				margin: 0 auto;
			}
			
			.article-title {
				padding: 19px 15px 2px;
				font-size: 24px;
				line-height: 30px;
			}
			
			.article-title p {
				white-space: pre-wrap;
				word-break: break-all;
			}
			
			.article-info {
				padding: 10px 14px;
				font-size: 14px;
			}
			
			.article-info .article-date {
				float: left;
			}
			
			.article-info .article-pviews {
				float: right;
			}
			
			.ooxx {
				display: block;
				margin: 23px auto 0;
				width: 100%;
			}
			
			.chapter {
				padding: 10px 10px 0;
				margin: 0 auto;
				font-size: 16px;
			}
			
			.chapter p {
				margin-top: 25px;
				line-height: 29px;
			}
			
			.jump-to-wx {
				width: 100%;
				max-width: 740px;
				min-width: 320px;
				bottom: 0;
				position: fixed;
				z-index: 10;
			}
			
			.footer-message {
				padding: 0 10px 10px;
				margin: 0 auto;
				font-size: 16px;
			}
			
			.footer-message p {
				margin-top: 6px;
				line-height: 29px;
				color: rgb(238, 17, 17);
			}
			
			.footer-message-nourl {
				padding: 20px 10px 40px;
				margin: 0 auto;
				position: relative;
			}
			
			.footer-message-nourl p {
				margin-top: 6px;
				line-height: 29px;
				text-align: center;
			}
			
			.next-btn {
				text-align: center;
				color: white;
				font-size: 18px;
				margin: 10px auto;
				background-color: #3c76ff;
				border: 1px solid #3c76ff;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				height: 42px;
				width: 95%;
				line-height: 42px;
			}
			
			.jump-info {
				padding: 10px 10px 20px;
				margin: 0 auto;
				font-size: 16px;
			}
			
			.jump-info p {
				line-height: 31px;
				letter-spacing: 1px;
			}
			/*******/
			
			.outmargin {
				border-bottom: .08rem solid #f5f5f5
			}
			
			.outmargin {
				background: #fff
			}
			
			.mainContent>:first-child {
				margin-top: .125rem
			}
			
			.mainContent img {
				max-width: 100%
			}
			
			.commentTitle span {
				display: inline-block;
				font-size: .16rem
			}
			
			.commentTitle span {
				margin: .2rem 0 .05rem
			}
			
			body,
			h1,
			h2,
			h3,
			p,
			div,
			ul {
				margin: 0;
				padding: 0
			}
			
			body {
				line-height: 1;
				text-align: left;
				-webkit-text-size-adjust: none;
				max-width: 100%;
				overflow-x: hidden;
				vertical-align: top;
				font-family: Arial, Helvetica, sans-serif
			}
			
			ul {
				list-style: none
			}
			
			a {
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
			}
			
			html {
				font-size: 100px;
				line-height: 100px
			}
			
			@media screen and (max-width: 360px) {
				html {
					font-size: 90px;
					line-height: 90px
				}
			}
			
			._3Lg9_aL1ZIf7Ry_XN0wdHc div {
				font-size: 0
			}
			
			._1T6TbV3IOYsTyKUDLU3h5K {
				padding-left: .17rem
			}
			
			._1T6TbV3IOYsTyKUDLU3h5K span {
				font-size: .16rem;
				margin: .2rem 0 .06rem;
				display: inline-block
			}
			
			._3Lg9_aL1ZIf7Ry_XN0wdHc li {
				padding: 0 .17rem
			}
			
			._2IegMdWvyvuhctjz_xSu1K {
				-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-touch-callout: none;
			}
			
			._2IegMdWvyvuhctjz_xSu1K:active {
				background: rgba(0, 0, 0, .06)
			}
			
			._3Lg9_aL1ZIf7Ry_XN0wdHc ._3WFzQS_lKvtlzIVerP0mqD {
				display: -webkit-flex;
				display: flex;
				padding: .18rem 0;
				line-height: 0;
				position: relative
			}
			
			._3Lg9_aL1ZIf7Ry_XN0wdHc ._3WFzQS_lKvtlzIVerP0mqD:before {
				border-bottom: 1px solid #eee;
				position: absolute;
				content: "";
				height: 1px;
				left: 0;
				right: 0;
				bottom: 0;
				transform: scaleY(.3)
			}
			
			._3Lg9_aL1ZIf7Ry_XN0wdHc h2 {
				font-size: .18rem;
				font-weight: 400;
				color: #000;
				text-overflow: ellipsis;
				overflow: hidden
			}
			
			._10eGO7spa38to6ZfMDjOZ1 {
				height: .12rem;
				line-height: .12rem
			}
			
			._10eGO7spa38to6ZfMDjOZ1 span {
				font-size: .12rem
			}
			
			._2haq1QXlJUDjvw8OsUG7JZ {
				color: #3c76ff;
				margin-right: .06rem
			}
			
			._2IegMdWvyvuhctjz_xSu1K ._3WFzQS_lKvtlzIVerP0mqD {
				-webkit-flex-direction: column;
				flex-direction: column;
				padding: .18rem 0 .17rem
			}
			
			._2IegMdWvyvuhctjz_xSu1K .AfkfFyJW6qiLWU5gsNZtp {
				height: 80px;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				margin: .11rem 0 .08rem
			}
			
			._2IegMdWvyvuhctjz_xSu1K h2 {
				white-space: nowrap;
				height: .18rem;
				line-height: .18rem
			}
			
			._2IegMdWvyvuhctjz_xSu1K ._3p6NZz5KhqkE_GsowgTvsE {
				width: 32.1%;
				height: 100%
			}
			
			._1FA6Djog2wSO1FSL_nc0v0 h2 {
				font-size: .13rem;
				height: 13px;
				color: #999;
				margin: 0 0 6px;
				font-weight: 400
			}
			
			._1FA6Djog2wSO1FSL_nc0v0 p {
				font-size: .12rem;
				line-height: .18rem;
				color: #999;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent
			}
			
			.commentEmbed .commentEmbed-backHomeBtn div {
				border: 1px solid #38f;
				border-radius: .02rem;
				height: .42rem;
				line-height: .42rem;
				font-size: .18rem;
				color: #38f;
				text-align: center
			}
			
			.prompt span {
				width: 100%;
				display: inline-block;
				text-align: center;
				font: normal 16px/50px "Microsoft Yahei";
				margin-top: 20px;
			}
			
			.prompt span {
				width: 100%;
				display: inline-block;
				text-align: center;
				font: normal 16px/50px "Microsoft Yahei";
				margin-top: 20px;
			}
			
			._1FA6Djog2wSO1FSL_nc0v0 h2 {
				font-size: .13rem;
				height: 13px;
				color: #999;
				margin: 0 0 6px;
				font-weight: 400
			}
			
			._1FA6Djog2wSO1FSL_nc0v0 p {
				font-size: .12rem;
				line-height: .18rem;
				color: #999;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent
			}
			
			.commentTitle span {
				display: inline-block;
				font-size: .16rem
			}
			
			.commentTitle {
				padding-left: .17rem;
				background-color: #fff
			}
			
			.commentTitle span {
				margin: .2rem 0 .05rem
			}
			
			.commentEmbed .commentEmbed-backHomeBtn:before {
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0
			}
			
			.commentEmbed .commentEmbed-backHomeBtn {
				position: relative;
				overflow: hidden
			}
			
			@media (-webkit-device-pixel-ratio: 1.5) {
				.commentEmbed .commentEmbed-backHomeBtn:before {
					width: 150%;
					height: 150%;
					-webkit-transform: scale(0.66667);
					transform: scale(0.66667)
				}
			}
			
			@media (-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio:1.5),
			(min-resolution:144dpi),
			(min-resolution:1.5dppx) {
				.commentEmbed .commentEmbed-backHomeBtn:before {
					width: 200%;
					height: 200%;
					-webkit-transform: scale(0.5);
					transform: scale(0.5)
				}
			}
			
			@media (-webkit-device-pixel-ratio: 3) {
				.commentEmbed .commentEmbed-backHomeBtn:before {
					width: 300%;
					height: 300%;
					-webkit-transform: scale(0.33333);
					transform: scale(0.33333)
				}
			}
			
			.commentEmbed .commentEmbed-backHomeBtn:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				height: 1px;
				pointer-events: none
			}
			
			.commentEmbed {
				background-color: #fff
			}
			
			.commentEmbed .commentEmbed-backHomeBtn {
				margin-top: .16rem;
				padding: .2rem .17rem
			}
			
			.commentEmbed .commentEmbed-backHomeBtn:before {
				height: 1px;
				background-color: #e6e6e6
			}
			
			.commentEmbed .commentEmbed-backHomeBtn div {
				border: 1px solid #38f;
				border-radius: .02rem;
				height: .42rem;
				line-height: .42rem;
				font-size: .18rem;
				color: #38f;
				text-align: center
			}
			
			.division-line {
				border-top: .08rem solid #f5f5f5;
			}
			
			.font-red {
				color: red;
			}
			
			.font-big {
				font-size: 20px;
				font-weight: bold;
			}
			
			.line {
				width: 45px;
				border: 2px solid #3c76ff;
				display: inline-flex;
				vertical-align: middle;
			}
			
			.right-line {
				margin-left: 5px;
			}
			
			.left-line {
				margin-right: 5px;
			}
			
			.foot-box {
				width: 100%;
				height: 80px;
			}
			
			.btn-color {
				color: #3c76ff;
			}
			
			.chapter p {
				text-indent: 2em;
			}
			
			#foo {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
			
			#foo1 {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
			
			.copy-btn {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 0 5px;
				color: #f00;
				font-size: 18px;
				background: #eee;
				border: 1px solid #000;
				border-radius: 5px;
			}
			
			.img-container {
				display: flex;
				;
				flex-direction: column;
				justify-content: center;
			}
			
			.img-container img {
				width: 100%;
				border: 0;
			}
			
			.wrapper {
				padding: 0 .3rem;
			}
			.wrapper ul, .wrapper ul li {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			.wrapper ul li img {
				width: 100%;
				padding: .1rem 0;
			}
			#foo2 {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
			.description {
			    margin: .2rem .1rem;
			    padding: .1rem;
			    width: 100%;
			    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
			    border-width: 1px;
			    border-style: solid;
			    border-color: rgb(170, 170, 170);
			    border-radius: 5px;
			    text-align: center;
			    box-sizing: border-box !important;
			    word-wrap: break-word !important;
			}
			.description span {
			    padding: .1rem;
			    max-width: 100%;
			    display: block;
			    font-weight: 700;
			    color: rgb(62, 62, 62);
			    box-sizing: border-box !important;
			    word-wrap: break-word !important;
			    font-size: .36rem;
			}
			.description button {
				display: block;
				text-decoration: none;
			    width: 55%;
			    white-space: normal;
			    border-image: initial;
			    margin: 0 auto;
			    padding: .2rem;
			    font-size: .32rem;
			    font-family: arial, helvetica, sans-serif;
			    text-shadow: #225F87 0px 1px 0px;
			    color: #F2F2F2;
			    border-radius: 10px;
			    box-shadow: #999999 2px 2px 4px;
			    background-color: #e64e5a;
			    text-align: center;
			    margin-bottom: .2rem;
			}
		</style>

	</head>

	<body>
		<div id="content">
			<div class="container">
				<div class="article-title">
					<%= articleTit %>
				</div>
				<div class="article-info">
					<span class="article-date">
            <span style="color: rgb(98, 142, 207);"><%= name %></span> &nbsp;&nbsp;
					<span class="date"><%= desc %></span>
					</span>
					<span class="article-pviews">
            阅读
            <span style="color: rgb(238, 17, 17);">&nbsp;&nbsp;100000+</span>
					</span>
				</div>
				<img class="ooxx" src="<%= picurl %>">
				<div class="chapter">
					<%- capter1 %>
				</div>
				<div class="footer-message-nourl  font-big">
					<p class="btn-color">
						<span class="left-line line"></span>篇幅限制，未完待续<span class="right-line line"></span>
					</p>
					<p>关注公众号：<span class="font-red"><%= name %></span></p>
					<textarea id="foo"></textarea>
					<p>
						<a class="copy-btn">点此快速关注</a>
					</p>
					<p>就可以继续阅读下文啦！</p>
					<p>如何关注？</p>
					<p>打开微信→搜索→公众号→</p>
					<p>输入 <span class="font-red"><%= name %></span> 确认搜索关注后</p>
					<p>就可以啦！</p>
				</div>
				<div class="outmargin division-line">
					<div class="related-news">
						<div class="_3Lg9_aL1ZIf7Ry_XN0wdHc">
							<div class="_1T6TbV3IOYsTyKUDLU3h5K"><span>相关阅读</span></div>
							<ul class="contentFont">
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>嫂子想了很久，恳求的看着我“今晚让我睡你好么？”</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffh1.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffh2.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffh3.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>新婚夜后，嫂嫂主动与我发生了不正当的关系！</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffh4.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffh5.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffh6.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>一夜的翻滚疲惫，我爱上了自己的嫂子……</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffhb.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhc.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhd.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>嫂嫂的那一抹潮红，是我与她风花雪月的记忆！</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffhe.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhf.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhg.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>看着嫂子一丝不挂的模样，我开始在她身上自由飞翔</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffhh.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhi.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhj.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>嫂子一脸潮红，双腿微开“快点，你可以进来了！”</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffhk.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhl.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhm.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>咬在嫂嫂那软嫩的唇上，手开始不自觉向她闺处进发……</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffhp.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhq.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhr.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
								<li class="_2IegMdWvyvuhctjz_xSu1K">
									<div class="_3WFzQS_lKvtlzIVerP0mqD">
										<h2>嫂子疯狂的吻我，我的手也不自觉的在她身上游走！</h2>
										<div class="AfkfFyJW6qiLWU5gsNZtp"><img src="https://s.kjcdn.com/i/pub/1ffht.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhu.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"><img src="https://s.kjcdn.com/i/pub/1ffhv.jpg" alt="" class="_3p6NZz5KhqkE_GsowgTvsE"></div>
										<div class="_10eGO7spa38to6ZfMDjOZ1"><span class="_2haq1QXlJUDjvw8OsUG7JZ">打开微信</span><span class="OzZxpJly7Z0XXbNT1Nfk9">关注公众号“<span class="font-red"><%= name %></span>”，”开始阅读</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div style="display:none" data-author="mingxingshuo">
				<%- statisticsUrl1 %>
			</div>
			<script>
			function bind_copy() {
				var btn = document.getElementsByClassName('copy-btn')[0]
				var copy = function() {
					var b = document.getElementById('foo')
					b.value = "<%= name %>";
					b.select();
					b.setSelectionRange(0, b.value.length);
					if(document.execCommand('copy', false, null)) {
						// b.remove()
					}
				};
				btn.addEventListener('click', function(){
					copy()
					alert("微信网页提示：\n\n1.公号已成功复制\n\n2.点击确定前往微信添加公众号");
					window.location.replace('weixin://');
				});
			}
			bind_copy()
		</script>
		</div>
		
		<!-- <script type="text/javascript" src="/js/sharezhijin.js"></script> -->
		
	</body>

</html>