<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="never">
    <title>
        <%= pageTitle %>
    </title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        .container {
            padding: 0;
            max-width: 740px;
            min-width: 320px;
            margin: 0 auto;
        }

        .article-title {
            padding: 19px 15px 2px;
            font-size: 24px;
            line-height: 30px;
        }

        .article-title p {
            white-space: pre-wrap;
            word-break: break-all;
        }

        .article-info {
            padding: 10px 14px;
            font-size: 14px;
        }

        .article-info .article-date {
            float: left;
        }

        .article-info .article-pviews {
            float: right;
        }

        .ooxx {
            display: block;
            margin: 23px auto 0;
            width: 100%;
        }

        .chapter {
            padding: 10px 10px 0;
            margin: 0 auto;
            font-size: 19px;
        }

        .chapter p {
            margin-top: 25px;
            line-height: 29px;
        }

        .footer-message {
            padding: 0 10px 10px;
            margin: 0 auto;
            font-size: 16px;
        }

        .footer-message p {
            margin-top: 6px;
            line-height: 29px;
            color: rgb(238, 17, 17);
        }

        .footer-message-nourl {
            padding: 20px 10px 40px;
            margin: 0 auto;
            position: relative;
        }

        .footer-message-nourl p {
            margin-top: 6px;
            line-height: 29px;
            text-align: center;
        }

        .next-btn {
            text-align: center;
            color: white;
            font-size: 18px;
            margin: 10px auto;
            background-color: #3c76ff;
            border: 1px solid #3c76ff;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            height: 42px;
            width: 95%;
            line-height: 42px;
        }

        .jump-info {
            padding: 10px 10px 20px;
            margin: 0 auto;
            font-size: 16px;
        }

        .jump-info p {
            line-height: 31px;
            letter-spacing: 1px;
        }

        /*******/

        .mainContent > :first-child {
            margin-top: .125rem
        }

        .mainContent img {
            max-width: 100%
        }

        .commentTitle span {
            display: inline-block;
            font-size: .16rem
        }

        .commentTitle span {
            margin: .2rem 0 .05rem
        }

        body,
        h1,
        h2,
        h3,
        p,
        div,
        ul {
            margin: 0;
            padding: 0
        }

        body {
            line-height: 1;
            text-align: left;
            -webkit-text-size-adjust: none;
            max-width: 100%;
            overflow-x: hidden;
            vertical-align: top;
            font-family: Arial, Helvetica, sans-serif
        }

        ul {
            list-style: none
        }

        a {
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        }

        html {
            font-size: 100px;
            line-height: 100px
        }

        @media screen and (max-width: 360px) {
            html {
                font-size: 90px;
                line-height: 90px
            }
        }

        ._3Lg9_aL1ZIf7Ry_XN0wdHc div {
            font-size: 0
        }

        ._1T6TbV3IOYsTyKUDLU3h5K {
            padding-left: .17rem
        }

        ._1T6TbV3IOYsTyKUDLU3h5K span {
            font-size: .16rem;
            margin: .2rem 0 .06rem;
            display: inline-block
        }

        ._3Lg9_aL1ZIf7Ry_XN0wdHc li {
            padding: 0 .17rem
        }

        ._2IegMdWvyvuhctjz_xSu1K {
            -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
        }

        ._2IegMdWvyvuhctjz_xSu1K:active {
            background: rgba(0, 0, 0, .06)
        }

        ._3Lg9_aL1ZIf7Ry_XN0wdHc ._3WFzQS_lKvtlzIVerP0mqD {
            display: -webkit-flex;
            display: flex;
            padding: .18rem 0;
            line-height: 0;
            position: relative
        }

        ._3Lg9_aL1ZIf7Ry_XN0wdHc ._3WFzQS_lKvtlzIVerP0mqD:before {
            border-bottom: 1px solid #eee;
            position: absolute;
            content: "";
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scaleY(.3)
        }

        ._3Lg9_aL1ZIf7Ry_XN0wdHc h2 {
            font-size: .18rem;
            font-weight: 400;
            color: #000;
            text-overflow: ellipsis;
            overflow: hidden
        }

        ._10eGO7spa38to6ZfMDjOZ1 {
            height: .12rem;
            line-height: .12rem
        }

        ._10eGO7spa38to6ZfMDjOZ1 span {
            font-size: .12rem
        }

        ._2haq1QXlJUDjvw8OsUG7JZ {
            color: #3c76ff;
            margin-right: .06rem
        }

        ._2IegMdWvyvuhctjz_xSu1K ._3WFzQS_lKvtlzIVerP0mqD {
            -webkit-flex-direction: column;
            flex-direction: column;
            padding: .18rem 0 .17rem
        }

        ._2IegMdWvyvuhctjz_xSu1K .AfkfFyJW6qiLWU5gsNZtp {
            height: 80px;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin: .11rem 0 .08rem
        }

        ._2IegMdWvyvuhctjz_xSu1K h2 {
            white-space: nowrap;
            height: .18rem;
            line-height: .18rem
        }

        ._2IegMdWvyvuhctjz_xSu1K ._3p6NZz5KhqkE_GsowgTvsE {
            width: 32.1%;
            height: 100%
        }

        ._1FA6Djog2wSO1FSL_nc0v0 h2 {
            font-size: .13rem;
            height: 13px;
            color: #999;
            margin: 0 0 6px;
            font-weight: 400
        }

        ._1FA6Djog2wSO1FSL_nc0v0 p {
            font-size: .12rem;
            line-height: .18rem;
            color: #999;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: transparent
        }

        .commentEmbed .commentEmbed-backHomeBtn div {
            border: 1px solid #38f;
            border-radius: .02rem;
            height: .42rem;
            line-height: .42rem;
            font-size: .18rem;
            color: #38f;
            text-align: center
        }

        .prompt span {
            width: 100%;
            display: inline-block;
            text-align: center;
            font: normal 16px/50px "Microsoft Yahei";
            margin-top: 20px;
        }

        .prompt span {
            width: 100%;
            display: inline-block;
            text-align: center;
            font: normal 16px/50px "Microsoft Yahei";
            margin-top: 20px;
        }

        ._1FA6Djog2wSO1FSL_nc0v0 h2 {
            font-size: .13rem;
            height: 13px;
            color: #999;
            margin: 0 0 6px;
            font-weight: 400
        }

        ._1FA6Djog2wSO1FSL_nc0v0 p {
            font-size: .12rem;
            line-height: .18rem;
            color: #999;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: transparent
        }

        .commentTitle span {
            display: inline-block;
            font-size: .16rem
        }

        .commentTitle {
            padding-left: .17rem;
            background-color: #fff
        }

        .commentTitle span {
            margin: .2rem 0 .05rem
        }

        .commentEmbed .commentEmbed-backHomeBtn:before {
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0
        }

        .commentEmbed .commentEmbed-backHomeBtn {
            position: relative;
            overflow: hidden
        }

        @media (-webkit-device-pixel-ratio: 1.5) {
            .commentEmbed .commentEmbed-backHomeBtn:before {
                width: 150%;
                height: 150%;
                -webkit-transform: scale(0.66667);
                transform: scale(0.66667)
            }
        }

        @media (-webkit-min-device-pixel-ratio: 1.5),
        (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
            .commentEmbed .commentEmbed-backHomeBtn:before {
                width: 200%;
                height: 200%;
                -webkit-transform: scale(0.5);
                transform: scale(0.5)
            }
        }

        @media (-webkit-device-pixel-ratio: 3) {
            .commentEmbed .commentEmbed-backHomeBtn:before {
                width: 300%;
                height: 300%;
                -webkit-transform: scale(0.33333);
                transform: scale(0.33333)
            }
        }

        .commentEmbed .commentEmbed-backHomeBtn:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 1px;
            pointer-events: none
        }

        .commentEmbed {
            background-color: #fff
        }

        .commentEmbed .commentEmbed-backHomeBtn {
            margin-top: .16rem;
            padding: .2rem .17rem
        }

        .commentEmbed .commentEmbed-backHomeBtn:before {
            height: 1px;
            background-color: #e6e6e6
        }

        .commentEmbed .commentEmbed-backHomeBtn div {
            border: 1px solid #38f;
            border-radius: .02rem;
            height: .42rem;
            line-height: .42rem;
            font-size: .18rem;
            color: #38f;
            text-align: center
        }

        .font-red {
            color: red;
        }

        .font-big {
            font-size: 20px;
            font-weight: bold;
        }

        .line {
            width: 45px;
            border: 2px solid #3c76ff;
            display: inline-flex;
            vertical-align: middle;
        }

        .right-line {
            margin-left: 5px;
        }

        .left-line {
            margin-right: 5px;
        }

        .foot-box {
            width: 100%;
            height: 80px;
        }

        .btn-color {
            color: #3c76ff;
        }

        .chapter p {
            text-indent: 2em;
        }

        #foo {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        #foo1 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .copy-btn, .copy-btn0, .copy-btn1, .copy-btn2 {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            padding: 0 5px;
            color: #f00;
            font-size: 18px;
            background: #eee;
            border: 1px solid #000;
            border-radius: 5px;
            margin-left: 4em;
        }

        .img-container {
            display: flex;;
            flex-direction: column;
            justify-content: center;
        }

        .img-container img {
            width: 100%;
            border: 0;
        }

        .wrapper {
            padding: 0 .3rem;
        }

        .wrapper ul, .wrapper ul li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .wrapper ul li img {
            width: 100%;
            padding: .1rem 0;
        }

        #foo2 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .description {
            margin: .2rem .1rem;
            padding: .1rem;
            width: 100%;
            box-shadow: rgb(204, 204, 204) 0px 0px 10px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(170, 170, 170);
            border-radius: 5px;
            text-align: center;
            box-sizing: border-box !important;
            word-wrap: break-word !important;
        }

        .description span {
            padding: .1rem;
            max-width: 100%;
            display: block;
            font-weight: 700;
            color: rgb(62, 62, 62);
            box-sizing: border-box !important;
            word-wrap: break-word !important;
            font-size: .36rem;
        }

        .description button {
            display: block;
            text-decoration: none;
            width: 55%;
            white-space: normal;
            border-image: initial;
            margin: 0 auto;
            padding: .2rem;
            font-size: .32rem;
            font-family: arial, helvetica, sans-serif;
            text-shadow: #225F87 0px 1px 0px;
            color: #F2F2F2;
            border-radius: 10px;
            box-shadow: #999999 2px 2px 4px;
            background-color: #e64e5a;
            text-align: center;
            margin-bottom: .2rem;
        }

        .daixu {
            width: 90%;
            color: #e72424;
            font-size: 20px;
            margin-top: 30px;
            margin-left: 5%;
            line-height: 1.6;
            position: relative;
        }

        .xian {
            width: 94%;
            margin-left: 3%;
            border: 1px solid #ccc;
            margin-top: .2rem;
        }

        .next, .bottom {
            width: 100%;
            font-size: .16rem;
            position: relative;
        }

        .bottom > p {
            margin-left: 4%;
            padding: .2rem 0;
        }

        .weixin {
            background-color: #eeeeff;
            text-align: center;
            padding-bottom: .3rem;
        }

        .weixin p {
            padding-top: .2rem;
        }

        /*.copy-btn {*/
        /*display: block;*/
        /*}*/

        .tips-title {
            color: #e72424;
            font-size: 18px;
        }

        .success-tips {
            width: 80px;
            position: absolute;
            top: -50px;
            left: 50%;
            z-index: 999;
            white-space: normal;
            text-align: center;
            padding: 15px;
            margin-left: -55px;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            background: #0d0c0c;
            color: #fff;
            display: none;
            font-size: 18px;
        }

        .text-box {
            position: relative;
        }

        .img-wrapper {
            width: 90%;
            margin-left: 5%;
        }

        .img-wrapper p {
            margin-bottom: 30px;
            font-size: 18px;
        }

        .img-wrapper img {
            width: 100%;
        }

        .step {
            width: 90%;
            color: #000;
            font-size: 18px;
            margin: 30px 0;
            margin-left: 5%;
            line-height: 1.6;
        }

    </style>

</head>

<body>
<div id="content">
    <div class="container">
        <div class="article-title">
            <%= articleTit %>
        </div>
        <div class="article-info">
					<span class="article-date">
            <span style="color: rgb(98, 142, 207);"><%= name %></span> &nbsp;&nbsp;
					<span class="date"><%= desc %></span>
					</span>
            <span class="article-pviews">
            阅读
            <span style="color: rgb(238, 17, 17);">&nbsp;&nbsp;100000+</span>
					</span>
        </div>
        <img class="ooxx" src="<%= picurl %>">
        <div class="chapter">
            <%- capter1 %>
        </div>
        <div class="text-box">
            <textarea id="foo"></textarea>
        </div>
        <div class="daixu">
            <div class="success-tips">
                复制成功
            </div>
            <p><b>未完待续，后面故事更精彩......</b></p>
            <p><b>关注公众号 <span style="color: #000;"><%= name %></span> 继续阅读！！！</b></p>
        </div>
        <div class="step">
            <p>请按照下面方法操作：</p>
            <p>第一步：复制公众号名字<span style="color: red;font-size: 20px">
                    <b class="copy">
                        <%= name %>
                    </b>
                </span><span class="copy-btn">点击复制</span></p>
            <p>第二步：打开微信→点击右上角“<span style="color: red;font-size: 20px">+</span>”→点击“<span style="color: red;font-size: 20px">添加朋友</span>“→选择”<span style="color: red;font-size: 20px">公众号</span>”→粘贴公众号名字“<span style="color: red;font-size: 20px"><%= name %></span>”→搜索并关注，即可继续阅读</p>
        </div>
        <!--<div class="xian"></div>-->

        <!--<div class="next">-->
            <!--<a class="copy-btn" target="_blank">-->
                <!--<img src="https://qqpublic.qpic.cn/qq_public/0/0-2413247269-2CEFE51C4DD13F9119D46E00647CE3AD/0?fmt=png&amp;size=14&amp;rs=0-0&amp;h=126&amp;w=621&amp;ppv=1"-->
                     <!--style="max-width:100%;" alt=""/>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="bottom">-->
            <!---->
            <!--<p class="tips-title">点击下一章后，请按以下步骤操作：</p>-->
            <!--<div class="weixin">-->
                <!--<p>请打开微信→搜索→：</p>-->
                <!--<p>公众号→-->
                    <!--<font color="red" size="5">-->
                        <!--<b class="copy">-->
                            <!--<%= name %>-->
                        <!--</b>-->
                    <!--</font>(←点击复制）-->
                <!--</p>-->
                <!--<p>关注后就可以继续阅读了</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="footer-message-nourl  font-big">-->
        <!--<p class="btn-color">-->
        <!--<span class="left-line line"></span>篇幅限制，未完待续<span class="right-line line"></span>-->
        <!--</p>-->
        <!--<p>关注公众号：<span class="font-red"><%= name %></span></p>-->
        <!--<textarea id="foo"></textarea>-->
        <!--<p>-->
        <!--<a class="copy-btn">点此快速关注</a>-->
        <!--</p>-->
        <!--<p>就可以继续阅读下文啦！</p>-->
        <!--<p>如何关注？</p>-->
        <!--<p>打开微信→搜索→公众号→</p>-->
        <!--<p>输入 <span class="font-red"><%= name %></span> 确认搜索关注后</p>-->
        <!--<p>就可以啦！</p>-->
        <!--</div>-->
        <div class="img-wrapper">
            <p>下面是演示图：</p>
            <img src="https://p1-tt.bytecdn.cn/obj/ad-tetris-site/file/1555314873878/599eeaabe3f03f296baf54da9c8eab88"
                 alt="">
        </div>
    </div>
    <div style="display:none" data-author="mingxingshuo">
        <% if(typeof statisticsUrl1 != "undefined") { %>
            <%- statisticsUrl1 %>
        <% } %>
        <% if(typeof tokenCodes != "undefined") { %>
           <%- tokenCodes %>
        <% } %>
    </div>
    <script>
      function bind_copy() {
        var btn = document.getElementsByClassName('copy-btn')[0]
        var copy = function () {
          var b = document.getElementById('foo')
          b.value = "<%= name %>";
          b.select();
          b.setSelectionRange(0, b.value.length);
          if (document.execCommand('copy', false, null)) {
            b.remove()
            let str = `<textarea id="foo"></textarea>`;
            $(".text-box").html(str);
          }
        };
        var statics = function (cb) {
          if (document.cookie.split('website_tuiguang_c=').length < 2) {
            return cb(null, null, null)
          }
          var index = location.pathname.split('/')[3]
          var uid = document.cookie.split('website_tuiguang_1=')[1].split(";")[0]
          var channel = document.cookie.split('website_tuiguang_c=')[1].split(";")[0]
          $.get('/tuiguang/copy?index=' + index + "&uid=" + uid + "&channel=" + channel, function (res) {
            cb(index, uid, channel)
          })

        };
        $(".copy, .copy-btn").on('click', function () {
          copy();
          statics(function(index,uid,channel){})
          $(".success-tips").css('display', 'block')
          setTimeout(function () {
            $(".success-tips").css('display', 'none')
          }, 1500)
        })
      }

      bind_copy()


    //回退
    if(location.href.indexOf('back=')!=-1){
        let back = location.href.split('back=')[1].split('&')[0].split('#')[0]
        back = decodeURIComponent(back) 
        window.history.pushState('forward', null, '#');
        if(window.history && window.history.pushState) {
            window.onpopstate = async function() {
                location.href = back
            }
        }  
    }else if(location.href.indexOf('history=')!=-1){
        let hlen = location.href.split('history=')[1].split('&')[0].split('#')[0]
        window.history.pushState('forward', null, '#');
        if(window.history && window.history.pushState) {
            window.onpopstate = async function() {
                hlen = parseInt(hlen)
                console.log(hlen)
                window.history.go((-1)*(hlen+1))
            }
        }
    }
    </script>
</div>

<!-- <script type="text/javascript" src="/js/sharezhijin.js"></script> -->

</body>

</html>