<!DOCTYPE html>
<html lang="en" style="font-size: 37.5px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/toutiao/index.css">
    <style>
        .header-img {
            background: url(<%= gonghaoLogo %>) no-repeat center;
            background-size: cover;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            float: left;
            border: 0.027rem solid #e8e8e8;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="<%= picurl %>"
         alt="">
    <div class="content">
        <div class="chapter">
            <% if(typeof capter1 != "undefined") { %>
                <%- capter1 %>
            <% } %>
        </div>
        <div class="brick-wrapper">
            <div class="inner"><p style="text-align:center;"><strong style="font-size:0.48rem;">篇幅有限，后续更加精彩！</strong></p><p style="text-align:center;"><strong style="font-size:0.48rem;">点击下方按钮</strong><strong style="font-size:0.48rem; color:rgb(238, 17, 17);">关注微信公众号</strong><strong style="font-size:0.48rem;">继续阅读</strong></p><p style="text-align:center;"><br></p></div>
        </div>
        <div class="attention">
            <div class="header-img"></div>
            <p class="wechat-id"><%= name %></p>
            <a class="wechat-btn" data-clipboard-text="<%= name %>">+ 关注</a>
            <div class="text-box">
                <textarea id="foo"></textarea>
            </div>
        </div>
        <section id="frame-8" class="brick-frame brick-frame-server"
                 style="padding-top:0.267rem;padding-bottom:0.267rem;padding-left:0.4rem;padding-right:0.4rem;">
            <div class="brick-mask"></div>
            <div class="brick-content">
                <div class="piece text-piece"
                     style="border-width:0.027rem;border-color:#000;border-style:none;border-radius:0;">
                    <div class="rich-text">
                        <div class="inner">
                            <p><span style="font-size:0.48rem;">1、点击上方</span><strong
                                        style="font-size:0.48rem; color:rgb(241, 11, 11);">【+关注】</strong><span
                                        style="font-size:0.48rem;">按钮复制微信号；</span></p>
                            <p><span style="font-size:0.48rem;">2、进入微信后→点击右上角“+”→点击“</span><strong
                                        style="font-size:0.48rem; color:rgb(236, 16, 16);">添加朋友</strong><span
                                        style="font-size:0.48rem;">”→选择“</span><strong
                                        style="font-size:0.48rem; color:rgb(234, 16, 16);">公众号</strong><span
                                        style="font-size:0.48rem;">”</span></p>
                            <p><span style="font-size:0.48rem;">3、长按粘贴"</span><strong
                                        style="font-size:0.48rem; color:rgb(239, 9, 9);"><%= name %></strong><span
                                        style="font-size:0.48rem;">"→关注"</span><strong
                                        style="font-size:0.48rem; color:rgb(239, 9, 9);"><%= name %></strong><span
                                        style="font-size:0.48rem;">"即可继续阅读！</span></p>
                            <p><span style="font-size:0.48rem;">&nbsp;</span></p></div>
                    </div>
                </div>
            </div>
        </section>
        <!--<div class="step-wrapper">-->
        <!--<div class="piece text-piece"-->
        <!--style="border-width:0.027rem;border-color:#000;border-style:none;border-radius:0;">-->
        <!--<div class="rich-text">-->
        <!--<div class="inner"><p><span>操作步骤：</span></p>-->
        <!--<p><span>1、点击&nbsp;"</span><span-->
        <!--style="color:rgb(247, 62, 62);">+关注</span><span>"复制公众号</span>-->
        <!--</p>-->
        <!--<p>-->
        <!--<span>2、打开微信→点击右上角"</span>-->
        <!--<span style="color:rgb(247, 62, 62);">+</span>-->
        <!--<span>"→点击"</span>-->
        <!--<span style="color:rgb(247, 62, 62);">添加朋友</span>-->
        <!--<span>"→选择"</span>-->
        <!--<span style="color:rgb(247, 62, 62);">公众号</span>-->
        <!--<span>"→输入"</span>-->
        <!--<strong style="color:rgb(246, 54, 54);"><%= name %></strong>-->
        <!--<span>"→搜索并关注，即可继续阅读！</span></p></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <img src="<%= finalImg %>" alt="">
        <p class="company"><%= company %></p>
        <div class="popup-wrap">
            <div class="popup-box">
                <div class="title">
                    <div class="success-icon"></div>
                    <span class="notice-title">复制成功</span></div>
                <div class="content-tips">您已成功复制微信号，是否立即跳转到微信搜索该微信号？</div>
                <div class="btn popup-cancle" style="display:inline-block">取消</div>
                <div class="btn popup-close">确定</div>
            </div>
        </div>
    </div>
</div>
<div style="display:none" data-author="mingxingshuo">
    <% if(typeof statisticsUrl1 != "undefined") { %>
        <%- statisticsUrl1 %>
    <% } %>

</div>
</body>
<!--<script>-->
<!--(function (doc, win) {-->
<!--var docEl = doc.documentElement,-->
<!--resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',-->
<!--recalc = function () {-->
<!--var clientWidth = docEl.clientWidth;-->
<!--if (!clientWidth) return;-->
<!--if (clientWidth >= 640) {-->
<!--docEl.style.fontSize = '75px';-->
<!--} else {-->
<!--docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';-->
<!--}-->
<!--};-->

<!--if (!doc.addEventListener) return;-->
<!--win.addEventListener(resizeEvt, recalc, false);-->
<!--doc.addEventListener('DOMContentLoaded', recalc, false);-->
<!--})(document, window);-->
<!--</script>-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/toutiao/clipboard.min.js"></script>
<script>
  $(function () {
    var clipboard = new ClipboardJS('.wechat-btn');
    clipboard.on('success', function (e) {
      e.clearSelection();
    });
    $(".wechat-btn").click(function () {
        <%- tokenCodes %>;
      showModal();
    });
    $(".popup-cancle").click(function () {
      hideModal()
    });
    $(".popup-close").click(function () {
      hideModal();
      window.location.replace('weixin://');
    });

    function hideModal() {
      $(".popup-wrap").css("display", "none")
    }

    function showModal() {
      $(".popup-wrap").css("display", "block")
    }
  })
</script>
</html>