<!DOCTYPE html>
<html lang="en" style="font-size: 37.5px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/toutiao/index.css">
    <style>
        .header-img {
            background: url(<%= gonghaoLogo %>) no-repeat center;
            background-size: cover;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            float: left;
            border: 0.027rem solid #e8e8e8;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body bgcolor="<%= bgcolor %>">
<script>
     var img=document.createElement("img");
     var serach = window.location.search;
     if(serach.indexOf('dycallback=1') >= 0){
       img.src="https://track.zhuishuyun.com/a.png"+serach;
       img.style.display="none";
       document.body.appendChild(img);
     };
</script>
<div class="container">
    <div class="banner-head">
        <img src="<%= picurl %>"
             alt="">
    </div>
    <div class="content">
        <div class="chapter">
            <% if(typeof capter1 != "undefined") { %>
                <%- capter1 %>
            <% } %>
        </div>
        <div class="brick-wrapper">
            <div class="inner inner1"><p style="text-align:center;"><strong
                            style="font-size:0.42rem;">因篇幅限制，请</strong><strong
                            style="font-size:0.42rem; color:rgb(238, 17, 17);">关注微信公众号</strong><strong
                            style="font-size:0.42rem;">继续阅读</strong></p></div>
        </div>
        <div class="wechat-btn" onclick="copys()" style="display: none">+ 关注</div>
        <% if (isClick) { %>
            <div class="attention">
                <div class="header-img"></div>
                <p class="wechat-id"><%= gonghao_id %></p>
                <div class="wechat-btn" onclick="copys()">+ 关注</div>
            </div>
        <% } else { %>
            <div>
                <p style="font-size:16px;text-align:center;line-height: 2;">公众号：<span
                            style="color:red;font-weight:bold;font-size:26px;" id="xsname"><%= gonghao_id %></span>
                    ←【长按复制】
                </p>
            </div>
        <% } %>

        <section id="frame-8" class="brick-frame brick-frame-server"
                 style="padding-top:0.267rem;padding-bottom:0.267rem;padding-left:0.3rem;padding-right:0.3rem;">
            <div class="brick-mask"></div>
            <div class="brick-content">
                <div class="piece text-piece"
                     style="border-width:0.027rem;border-color:#000;border-style:none;border-radius:0;">
                    <div class="rich-text">
                        <div class="inner inner1">
                            <p style="font-size:15px;"><strong>【请按照下面步骤操作】</strong></p>
                            <p>
                                <% if (isClick) { %>
                                    <span style="font-size:0.48rem;">1、点击上方</span>
                                    <strong style="font-size:0.48rem; color:rgb(241, 11, 11);margin: 0 -.3rem;">【+关注】</strong>
                                    <span style="font-size:0.48rem;">按钮复制微信号；</span>
                                <% } else { %>
                                    <span style="font-size:0.48rem;"> 1、长按复制公众号 </span>
                                <% } %>

                            </p>
                            <p>
                                <span style="font-size:0.48rem;">2、进入微信后→点击右上角<strong
                                            style="font-size: .6rem; color:rgb(236, 16, 16);">"+"</strong>→点击</span>
                                <strong style="font-size:0.48rem; color:rgb(236, 16, 16);margin-right: -.2rem;">添加朋友</strong>
                                <span style="font-size:0.48rem;">→选择</span>
                                <strong style="font-size:0.48rem; color:rgb(234, 16, 16);margin-left: -.2rem">公众号</strong>
                                <span style="font-size:0.48rem;"></span>
                            </p>
                            <p>
                                <span style="font-size:0.48rem;">3、长按粘贴</span>
                                <strong style="font-size:0.48rem; color:rgb(239, 9, 9);margin: 0 -.2rem;"><%= gonghao_id %></strong>
                                <span style="font-size:0.48rem;">→关注</span>
                                <strong style="font-size:0.48rem; color:rgb(239, 9, 9);margin: 0 -.2rem;"><%= name %></strong>
                                <span style=font-size:0.48rem;">即可继续阅读！</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img style="margin-top: .8rem" src="<%= finalImg %>" alt="">
        <p class="company"><%= company %></p>
        <div class="popup-wrap">
            <div class="popup-box" onclick="return false;">
                <% if(!isClick) { %>
                    <div class="title">
                        <span class="notice-title">复制成功</span></div>
                    <div class="content-tips">关注公众号继续阅读</div>
                    <!--<div class="btn popup-cancle" style="display:inline-block">取消</div>-->
                    <div class="btn popup-close">立即打开微信</div>
                <% } else { %>
                    <div class="content-tips content-tips1">
                        点击确定复制公众号，前往微信粘贴搜索
                    </div>
                    <div class="btn popup-cancle" style="display:inline-block">取消</div>
                    <div class="btn popup-close1">确定</div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div style="display:none" data-author="mingxingshuo">
    <% if(typeof statisticsUrl1 != "undefined") { %>
        <%- statisticsUrl1 %>
    <% } %>
</div>
</body>
<!--<script>-->
<!--(function (doc, win) {-->
<!--var docEl = doc.documentElement,-->
<!--resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',-->
<!--recalc = function () {-->
<!--var clientWidth = docEl.clientWidth;-->
<!--if (!clientWidth) return;-->
<!--if (clientWidth >= 640) {-->
<!--docEl.style.fontSize = '75px';-->
<!--} else {-->
<!--docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';-->
<!--}-->
<!--};-->

<!--if (!doc.addEventListener) return;-->
<!--win.addEventListener(resizeEvt, recalc, false);-->
<!--doc.addEventListener('DOMContentLoaded', recalc, false);-->
<!--})(document, window);-->
<!--</script>-->
<script src="/js/jquery.min.js"></script>
<script src="/toutiao/clipboard.min.js"></script>
<script>
    // document.body.oncopy = function () {
    //     $('.wechat-btn').click();
    // };
    let gonghao_id = "<%= gonghao_id %>";

    let isJump = <%= isJump %>;

    function copys(event) {
        copyNow(gonghao_id)
        if (isJump) {
            window.location.href = "<%= jumpUrl %>"
        } else {
            showModal();
        }
    };

    function copyNow(txt) {
        //console.log('copyNow------',txt)
        var clipboard = new ClipboardJS('.wechat-btn', {
            text: function (trigger) {
                return txt;
            }
        });
        // console.log(clipboard);
        clipboard.on('success', function (e) {
            console.log('复制成功')
            clipboard.destroy();
        });
        clipboard.on('error', function (e) {
            console.log('复制失败')
        });
    }

    function hideModal() {
        $(".popup-wrap").css("display", "none");
        $("body").css("overflow", "auto")
    }

    function showModal() {
        $(".popup-wrap").css("display", "block")
        $("body").css("overflow", "hidden")
    }

    $(".popup-cancle").click(function (e) {
        hideModal()
        // copyNow(gonghao_id)
        // window.location.replace('weixin://');
    });

    $(".popup-close").click(function (e) {
        // hideModal();
        copyNow(gonghao_id)
        window.location.replace('weixin://');
        <%- tokenCodes %>;
    });

    $(".popup-close1").click(function (e) {
        hideModal();
        copyNow(gonghao_id)
        window.location.replace('weixin://');
        <%- tokenCodes %>;
    });

    function randomString() {
        var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var result = '';
        for (var i = 3; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    };
</script>
</html>