<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="0">
        <title><%= title %></title>
        <style>
            * {
                margin: 0;
                padding: 0;
                font-size: .16rem;
            }
            
            #content {
                display: flex;
                flex-direction: column;
                width: 96%;
                position: absolute;
                top: .2rem;
                left: 50%;
                margin-left: -48%;
                overflow: hidden;
                padding-bottom: .3rem;
            }
            
            #content p {
                background: transparent !important;
            }
            
            .headline {
                font-size: .28rem;
                margin-bottom: .2rem;
            }
            
            .avator {
                width: 100%;
                margin-top: .2rem;
                border-radius: 5px;
            }
            
            .author-wrap {
                width: 96%;
                margin: 0 auto;
            }
            
            .gonghao {
                font-size: .16rem;
                color: cornflowerblue;
            }
            
            .author {
                font-size: .12rem;
                color: #7E7E7E;
                margin-left: .1rem;
            }
            
            .p-content {
                padding: .2rem .1rem;
                border-radius: .1rem;
                margin: .2rem .08rem;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
            }
            
            .p-content p {
                line-height: 2;
            }
            
            .mask {
                line-height: 2;
                padding: .3rem 0;
                text-align: left;
                font-size: 18px;
                -webkit-filter: blur(3px);
                filter: blur(3px);
                color: #525252;
                text-indent: 2em;
            }
            
            .more {
                text-indent: 1em;
                font-size: .18rem;
            }
            
            .more span {
                display: inline-block;
                font-size: .2rem;
                padding: 0 .1rem;
                text-indent: 0;
                animation: myfirst 1s infinite;
                -moz-animation: myfirst 1s infinite;
                /* Firefox */
                -webkit-animation: myfirst 1s infinite;
                /* Safari 和 Chrome */
                -o-animation: myfirst 1s infinite;
                /* Opera */
            }
            
            .tips-con {
                text-align: right;
            }
            
            .tips {
                width: 1rem;
                margin-right: .2rem;
            }
            
            .btn {
                text-decoration: none;
                width: 87%;
                white-space: normal;
                border-image: initial;
                margin: 0 auto;
                padding: .1rem;
                font-size: .18rem;
                font-weight: bold;
                line-height: .25rem;
                font-family: arial, helvetica, sans-serif;
                text-shadow: #225F87 0px 1px 0px;
                color: #F2F2F2;
                border-radius: 4px;
                box-shadow: #999999 2px 2px 4px;
                background-color: #e64e5a;
                text-align: center;
            }
            
            @keyframes myfirst {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-moz-keyframes myfirst
            /* Firefox */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-webkit-keyframes myfirst
            /* Safari 和 Chrome */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-o-keyframes myfirst
            /* Opera */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
        </style>
    </head>

    <body>
        <div id="content">
            <div class="author-wrap">
                <h2 class="headline"><%= headline %></h2>
                <span class="gonghao"> <%= gonghao %> </span>
                <span class="author"><%= author %></span>
                <p style="text-align: center;">
                    <img class="avator" src="<%= avator %>" />
                </p>
            </div>
            <div class="p-content">
                <%- content %>
                <p class="mask">“刘洋，餐厅布置好了吗？你再去看一遍，不准出现一丁点儿的纰漏，不然的话我扣你工资……”</p>
                <p class="more">更多<span>精彩内容</span>请点击下一章...</p>
                <p class="tips-con">
                    <img class="tips" src="/images/tuiguang/icon.png" />
                </p>
            </div>
            <a href="<%= linkUrl %>" class="btn">下一章 &nbsp;&nbsp;&nbsp;( 将会在微信中打开 )</a>
        </div>
        <div style="display:none">
            <script src="<%= statisticsUrl %>" language="JavaScript"></script>
        </div>

        <script>
            window.onload = function() {
                function refresh() {
                    var width = document.documentElement.clientWidth;
                    if(width < 375) {
                        document.documentElement.style.fontSize = width / 3.75 + "px";
                    } else {
                        document.documentElement.style.fontSize = "100px";
                    }
                }
                refresh();
                window.onresize = refresh;
            }
        </script>
    </body>

</html>