<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="0">
        <title><%= pageTitle %></title>
        <style>
            * {
                margin: 0;
                padding: 0;
                font-size: .16rem;
            }
            
            #content {
                display: flex;
                flex-direction: column;
                width: 96%;
                position: absolute;
                top: .2rem;
                left: 50%;
                margin-left: -48%;
                overflow: hidden;
                padding-bottom: .3rem;
            }
            
            #content p {
                background: transparent !important;
            }
            
            .title {
                font-size: .28rem;
                margin-bottom: .2rem;
            }
            
            .avator {
                width: 100%;
                margin-top: .2rem;
            }
            
            .author-wrap {
                width: 96%;
                margin: 0 auto;
            }
            
            .author {
                font-size: .16rem;
                color: cornflowerblue;
            }
            
            .date {
                font-size: .12rem;
                color: #7E7E7E;
                margin-left: .1rem;
            }
            
            .p-content {
                padding: .2rem .1rem;
                border-radius: .1rem;
                margin: .2rem .08rem;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
            }
            
            .p-content p {
                line-height: 2;
            }
            
            .mask {
                line-height: 2;
                /*padding: .3rem 0;*/
                text-align: left;
                font-size: 18px;
                -webkit-filter: blur(3px);
                filter: blur(3px);
                color: #525252;
                text-indent: 2em;
            }
            
            .more {
                font-size: .18rem;
                font-weight: bold;
                text-align: center;
            }
            
            .more span {
                display: inline-block;
                font-size: .2rem;
                padding: 0 .1rem;
                text-indent: 0;
                animation: myfirst 1s infinite;
                -moz-animation: myfirst 1s infinite;
                /* Firefox */
                -webkit-animation: myfirst 1s infinite;
                /* Safari 和 Chrome */
                -o-animation: myfirst 1s infinite;
                /* Opera */
            }
            
            .tips-con {
                margin: .2rem .1rem;
                padding: .1rem;
                font-size: .16rem;
                border: 1px dashed rgb(216, 76, 71);
            }
            
            .tips {
                margin-bottom: .1rem;
            }
            
            .btn {
                text-decoration: none;
                width: 90%;
                white-space: normal;
                border-image: initial;
                margin: 0 auto;
                padding: .1rem;
                font-size: .18rem;
                font-weight: bold;
                line-height: .25rem;
                font-family: arial, helvetica, sans-serif;
                text-shadow: #225F87 0px 1px 0px;
                color: #F2F2F2;
                border-radius: 4px;
                box-shadow: #999999 2px 2px 4px;
                background-color: #e64e5a;
                text-align: center;
            }
            
            .title-text span {
                display: block;
                position: relative;
                color: #8c8c8c;
                text-align: center;
                font-size: .18rem;
            }
            
            .title-text span:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background: #8c8c8c;
                width: 35%;
                height: 1px;
            }
            
            .title-text span:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                background: #8c8c8c;
                width: 35%;
                height: 1px;
            }
            
            .icon_praise_gray {
                background: transparent url(/img/tuiguang/zan.png) no-repeat 0 0;
                width: 13px;
                height: 13px;
                vertical-align: middle;
                display: inline-block;
                -webkit-background-size: 100% auto;
                background-size: 100% auto;
            }
            
            .icon_praise_gray font {
                margin-top: -5px;
            }
            
            @keyframes myfirst {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-moz-keyframes myfirst
            /* Firefox */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-webkit-keyframes myfirst
            /* Safari 和 Chrome */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
            
            @-o-keyframes myfirst
            /* Opera */
            
            {
                0% {
                    color: rgb(112, 207, 204);
                }
                25% {
                    color: rgb(0, 229, 120);
                }
                50% {
                    color: rgb(1961, 33, 44);
                }
                100% {
                    color: rgb(15, 76, 122);
                }
            }
        </style>
    </head>

    <body>
        <div id="content">
            <div class="author-wrap">
                <h2 class="title"><%= articleTit %></h2>
                <span class="author"> <%= name %> </span>
                <span class="date"><%= desc %></span>
                <p style="text-align: center;">
                    <img class="avator" src="<%= picurl %>" />
                </p>
            </div>
            <div class="p-content">
                <%- capter1 %>
                <p class="mask">“刘洋，餐厅布置好了吗？你再去看一遍，不准出现一丁点儿的纰漏，不然的话我扣你工资……”</p>
                <p class="more">更多<span>高潮内容</span>请点击下一章</p>
            </div>
            <a href="<%= linkUrl %>" class="btn">下一章 &nbsp;&nbsp;&nbsp;( 将在微信中打开 )</a>
            <div class="tips-con">
                <p class="tips">如跳转失败请按下列方式关注公众号：</p>
                <p class="tips">打开微信点击右上角 “+” → “添加朋友” → “公众号” → 输入“<%= name %>” → 关注公众号</p>
            </div>
            <div>
                <div class="title-text"><span style="font-size: 18px;">精选留言</span></div>
                <div style="margin-top: 18px;">
                    <div>
                        <div style="width:10%;float:left"> <img src="/img/tuiguang/user1.jpg" style="width:40px"></div>
                        <div style="width:85%;float:right"><span style="color:#8c8c8c;margin-left: 8px;">赵天</span><span class="icon_praise_gray" style="float:right;margin-right: 50px;font-size: 12px;color:#8c8c8c"><font style="margin-left: 15px;width:100px;display: inline-block;">14558</font></span>
                            <div style="padding:8px;">看了，好刺激，提醒一个人看别让老婆看到！</div>
                            <span style="padding:10px;color:#8c8c8c;font-size: 12px;">17小时前</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div style="margin-top: 18px;">
                    <div>
                        <div style="width:10%;float:left"> <img src="/img/tuiguang/user2.jpg" style="width:40px"></div>
                        <div style="width:85%;float:right"><span style="color:#8c8c8c;margin-left: 8px;">我是猛男</span><span class="icon_praise_gray" style="float:right;margin-right: 50px;font-size: 12px;color:#8c8c8c"><font style="margin-left: 15px;width:100px;display: inline-block;">10352</font></span>
                            <div style="padding:8px;">受不了，我刚刚也看了，要去找妹子下火了...</div>
                            <span style="padding:10px;color:#8c8c8c;font-size: 12px;">15小时前</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div style="margin-top: 18px;">
                    <div>
                        <div style="width:10%;float:left"> <img src="/img/tuiguang/user3.jpg" style="width:40px"></div>
                        <div style="width:85%;float:right"><span style="color:#8c8c8c;margin-left: 8px;">来呀，快活呀</span><span class="icon_praise_gray" style="float:right;margin-right: 50px;font-size: 12px;color:#8c8c8c"><font style="margin-left: 15px;width:100px;display: inline-block;">9988</font></span>
                            <div style="padding:8px;">精彩，精彩，作者这是真实经历吧，我去看了感觉写的很好啊</div>
                            <span style="padding:10px;color:#8c8c8c;font-size: 12px;">14小时前</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div style="margin-top: 18px;">
                    <div>
                        <div style="width:10%;float:left"> <img src="/img/tuiguang/user4.jpg" style="width:40px"></div>
                        <div style="width:85%;float:right"><span style="color:#8c8c8c;margin-left: 8px;">马上有钱</span><span class="icon_praise_gray" style="float:right;margin-right: 50px;font-size: 12px;color:#8c8c8c"><font style="margin-left: 15px;width:100px;display: inline-block;">8689</font></span>
                            <div style="padding:8px;">我要是有个班主任也这样就爽了，后面太特么好看了</div>
                            <span style="padding:10px;color:#8c8c8c;font-size: 12px;">9小时前</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div style="margin-top: 18px;">
                    <div>
                        <div style="width:10%;float:left"> <img src="/img/tuiguang/user5.jpg" style="width:40px"></div>
                        <div style="width:85%;float:right"><span style="color:#8c8c8c;margin-left: 8px;">就这么feel倍爽</span><span class="icon_praise_gray" style="float:right;margin-right: 50px;font-size: 12px;color:#8c8c8c"><font style="margin-left: 15px;width:100px;display: inline-block;">7666</font></span>
                            <div style="padding:8px;">一个字，看完保证爽，已经试过了！</div>
                            <span style="padding:10px;color:#8c8c8c;font-size: 12px;">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- tokenCodes %>
        <div style="display:none" data-author="mingxingshuo">
        	<%- statisticsUrl1 %>
        </div>
        <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8">
        </script>
        <script>
            function hrefs() {   
                window.history.pushState('forward', null, location.pathname);       
            }

            if(window.history && window.history.pushState) {
                    window.onpopstate = function() {
                        var qrs= [
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088902012469188&sign=m9rIL8Mqmtvllf9eJqIerRB57QMrvjRj1%2FqO%2BfwaHGE%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x06364ngnlmjhckkntq33",
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088802646329510&sign=hkCI4BP4WrGRWekZn%2FJoCCZbVfV%2FqSWlkmpV3qsfkI4%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x003292s5ob0pbmd3ceae",
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088702445044750&sign=%2FKMYVv95AKilNoUoUe6FBN%2FX%2BMNcls6O95Nbw3qWODs%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x02503i2gftzldufvba81",
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088702445044750&sign=%2FKMYVv95AKilNoUoUe6FBN%2FX%2BMNcls6O95Nbw3qWODs%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x02503i2gftzldufvba81",
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088402029799363&sign=vWdKNye%2B3KlYGpkBk9YqacP5wCNzIKetcNldSheRUWI%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x09226hlteb1by2u1dj3e",
                            "https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?channel=qrCode&shareId=2088122731294605&sign=DfJZo9YKEHmbVklWmfJZvEh9e2whA0MmBRceEJuZiuE%3D&scene=offlinePaymentNewSns&campStr=p1j%2BdzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&token=c1x00986aldkpaioc1dr1f5"
                        ]
                        var index= parseInt(Math.random()*qrs.length)
                        location.href = qrs[index]
                    }
                }
                function refresh() {
                    var width = document.documentElement.clientWidth;
                    if(width < 375) {
                        document.documentElement.style.fontSize = width / 3.75 + "px";
                    } else {
                        document.documentElement.style.fontSize = "100px";
                    }
                }
                
                function setCookie(cookieName,cookieValue){
                    //当前日期
                    var curDate = new Date();
                    //当前时间戳
                    var curTamp = curDate.getTime();
                    //当日凌晨的时间戳,减去一毫秒是为了防止后续得到的时间不会达到00:00:00的状态
                    var curWeeHours = new Date(curDate.toLocaleDateString()).getTime() - 1;
                    //当日已经过去的时间（毫秒）
                    var passedTamp = curTamp - curWeeHours;
                    //当日剩余时间
                    var leftTamp = 24 * 60 * 60 * 1000 - passedTamp;
                    var leftTime = new Date();
                    leftTime.setTime(leftTamp + curTamp);
                    //创建cookie
                    document.cookie = cookieName + "=" + escape(cookieValue) + ";expires=" + leftTime.toGMTString(); 
                }
                 
                /* 
                功能：获取cookies函数  
                参数：name，cookie名字 
                */
                function getCookie(name)
                {
                    var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
                    if (arr != null)
                    {
                        return unescape(arr[2]);
                    } else
                    {
                        return null;
                    }
                }

                
                if(returnCitySN["cname"]!="北京市"){
                    console.log('非北京')
                    if(!getCookie('mingxingshuo_alipay')){
                    hrefs()
                    setCookie('mingxingshuo_alipay','wonazhidaoshinage')
                    }else{
                        //console.log(getCookie('mingxingshuo_alipay'))
                    }
                }else{
                    console.log('北京')
                }
                
                refresh();
                window.onresize = refresh;
        </script>
    </body>

</html>